* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin: 50px auto;
    text-align: center;
}

.container {
    width: 80%;
    height: 450px;
    position: relative;
    margin: 50px auto;
}

.btn-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
}

.btn-box>.active {
    color: yellowgreen;
}

.btn-box .fa {
    margin-right: 20px;
}

.btn-box button:hover .fa {
    color: purple;
}

.content-right img {
    width: 350px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 5% auto;

}

.content-left {
    flex-basis: 50%;
}

.content-left p {
    font-size: 12px;
    text-align: justify;
    padding: 30px 0;
}

.content-left a {
    width: 150px;
    display: block;
    padding: 8px 5px;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(255, 222, 6, 0.916);
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.content-left a:hover {
    color: rosybrown;
}


.content-right {
    flex-basis: 50%;
    text-align: center;
}

/* Formulario de registro */
.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    margin: 10px;
}

.form-control>input {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    transition: 300ms all ease-in-out;
}

.form-control>input:hover {
    border-color: rgba(255, 255, 0, 0.8);
}

/* Eventos Pestanas */
.tab-content {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.tab-content>div {
    display: none;
}

.tab-content>.active {
    display: block;
}